Source: mx-viewer
Section: system
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: debhelper (>=10), qt6-base-dev, qt6-base-dev-tools, qt6-tools-dev, qt6-tools-dev-tools
               qt6-webengine-dev,
Standards-Version: 3.9.8
Homepage: https://github.com/AdrianTM/mx-viewer

Package: mx-viewer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: x-www-browser
Description: Displays a URL in a window
 MX Viewer displays a URL in a new window. It's an utility program used for
 displaying help information by various MX Linux utilities. It can also be used
 as a very basic internet browser.
